.list-style{
    list-style: none;
    cursor:pointer
}
.catemenu-list{
        height: 315px;
    overflow-y: auto;
    width: 359px;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}