<!--<p>
  ordermenu works!
</p>
<li class="dropdown">
          <a [routerLink]="['']">Logout</a>
        </li>-->

<!--{{menulistdata|json}}-->


<!--<app-itemlist></app-itemlist>-->
<div class="container bg-screen">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row panel panel-div">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <a [routerLink]="['/dineorder']"> Menu</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <a [routerLink]="['/dineorder/user']">
            
            Menu
            <span></span>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <a [routerLink]="['/orderSumm']">
            
            Menu/sum
            <span></span>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <a [routerLink]="['']">
            
            Logout
            <span></span>
            </a>
        </div>


      </div>
    </div>
    <div>
      <div class="row">

        <app-category></app-category>

        <!--<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="row cate-border">
            <div class="cat-panel"></div>
            <app-itemquantity></app-itemquantity>
          
          </div>
        </div>-->
      </div>

    </div>


  </div>

</div>